body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    gap: 10px;
}

header,
.navigation,
.main,
.sidebar,
.ads,
footer {
    border: 1px solid red;
    width: 100%;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.main-section {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-direction: column;
}

.footer-content {
    display: flex;
    gap: 10px;
    flex-direction: column;
}