.header {
    background-color: rgb(227, 227, 227);
    color: black;
    text-align: center;
    padding: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main .aside .article {
    background-color: rgb(227, 227, 227);
    padding: 10px;
}

.section {
    justify-content: center;
    align-self: center;
    align-items: center;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}