a[class="external-link"] {
    background-color: #2ecc71;
}

a[class="internal-link"] {
    background-color: #2ecc71;
}

a[class="parent-link"] {
    background-color: #2ecc71;
}

a[class="top-link"] {
    background-color: #2ecc71;
}

a[class="highlighted-link"] {
    background-color: #2ecc71;
}